.like-button{
  background-color: rgb(255, 255, 255);
  border: none;
}

.unlike-button{
  background-color: white;
  border: none;
}

#like{
  color: rgb(0, 0, 0);
  transition: .5s;
}

#unlike{
  transition: .2s;
  color: rgb(240, 70, 70);
}

#like:active{
  color: rgb(133, 133, 133);
  transform: scale(0.7);
}

#like:hover{
  color: rgb(133, 133, 133);
  cursor: pointer;
  transition: .5s;
}
