.create-comment-container{
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
}


.create-comment{
  display: flex;
  flex-direction: row;
}

.comment-input{
  margin-top: 10px;
  width: 380px;
  height: 40px;
  border: none;
  resize: none;
  padding-left: 20px;
  border-radius: 25px;

}


.comment-input:focus{
  outline: none;
}

.post-button{
  border: none;
  background-color: white;
  color: rgb(95, 95, 241);
  font-size: 15px;
  font-weight: bold;
  transition: .5s;
  margin-top: 15px;
  margin-right: 10px;
}

.post-button:hover{
  color: rgb(60, 60, 235);
  transition: .5s;
}


#error-comments{
  color: red;
}
