.create-comment-container{
  display: flex;
  flex-direction: column;
}


.create-comment{
  display: flex;
  flex-direction: row;
}

.comment-input{
  width: 400px;
  height: 50px;
  border: none;
  resize: none;
  padding-left: 20px;
}


.comment-input:focus{
  outline: none;
}

.post-button{
  border: none;
  background-color: white;
  color: rgb(95, 95, 241);
  font-size: 20px;
  font-weight: bold;
  transition: .5s;
  margin-top: 15px;
}

.post-button:hover{
  color: rgb(60, 60, 235);
  transition: .5s;
}


#error-comments{
  color: red;
}
