.create-comment-container{
  display: flex;
  flex-direction: column;
  border-top: 1px solid lightgray;
}


.create-comment{
  display: flex;
  flex-direction: row;
}

.comment-input{
  margin-top: 10px;
  width: 380px;
  height: 40px;
  border: none;
  resize: none;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 15px;

}


.comment-input:focus{
  outline: none;
}

.post-button{
  border: none;
  background-color: white;
  color: rgb(139, 183, 250);
  font-size: 15px;
  font-weight: bold;
  transition: .3s;
  margin-top: 15px;
  margin-right: 10px;
}

.post-button:hover{
  color: rgb(61, 138, 253);
  transition: .3s;
  cursor: pointer;
}

#error-comments{
  color: red;
  margin-left: 10px;
}

.emoji-icon{
  color: rgb(37, 37, 37);
  cursor: pointer;
  position: relative;
  top: 15px;
  margin-left: 5px;

}

#emoji-icon-picker{
  position: absolute;
  top: 20rem;
  z-index: 3;
}
