.login-page-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}


.login-page-form{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px 2px lightgray;
  border-radius: 5px;
  padding: 10px 20px 0 20px;
}


.login-input{
  margin: 8px 0;
}

.login-input input{
  width: 100%;
  border-radius: 5px;
  height: 40px;
  outline: none;
  border: 1px solid rgb(139, 139, 139);
  padding-left: 5px;
  transition: .3s;
}

.login-input input:focus{
  transition: .3s;
  border: 1px solid rgb(168, 115, 253);
}

#login-instashow{
  /* margin-bottom: 20px; */
  padding: 10px 40px;
}

#login-errors{
  color: rgb(248, 87, 87);
  font-size: 13px;
}

.loginpage-signup-bttns{
  text-align: center;
}


#loginpage-login-bttn{
  margin-top: 10px;
  width: 102%;
  height: 30px;
  background-color: rgb(115, 175, 253);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  transition: .5s;
}

#loginpage-login-bttn:hover{
  background-color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

.-or-{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  color: grey;
}

#Line-break{
  background-color: white;
}

#login-or{
  padding: 4px 0;
}

#loginpage-demo-user{
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-weight: bold;
  transition: .5s;
  margin-bottom: 20px;
}

#loginpage-demo-user:hover{
  transform: scale(1.1);
  transition: .5s;
  cursor: pointer;
}

.login-right-info{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
}


.loginpage-signup-link{
  font-size: 14px;
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 4px 2px lightgray;
}

#link-to-signup{
  text-decoration: none;
  color: rgb(42, 133, 252);
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
  transition: .3s;
}

#link-to-signup:hover{
  color: rgb(115, 175, 253);
  transition: .3s;
}
