.single-post{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  margin: 0 50px;
}

.single-post-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.single-post-interation{
  display: flex;
  flex-direction: column;
  width: auto;
  height: 600px;
}

.single-post-profilepic-username{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 10px;
  justify-content: space-between;
}

#link-to-ownerProfile{
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#comment-username-singlepost{
  display: flex;
  flex-wrap: wrap;
  float: left;
}

#single-post-profilePic{
  border-radius: 50%;
}

#single-post-username{
  margin-top: 8px;
  margin-left: 10px;
  font-size: 20px;
  color: #222;
  font-weight: bold;
}

#edit-post-bttn {
  margin-top: 10px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: none;
  transition: .5s;

}

#edit-post-bttn:hover{
  border-radius: 50%;
  box-shadow: 0 0 5px 2px lightgray;
  background-color: lightgray;
  transition: .5s;
}

.border-bottom-single-post{
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

#link-caption-user{
  display: flex;
  flex-direction: row;

  text-decoration: none;
}

.post-caption{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding-top: 10px;
  width: 80%;
  float: left;
}

#user-post-caption{
  margin-top: 8px;
  margin-left: 10px;
  width: 275px;
  word-wrap: break-word;
}


#user-post-profilePic{
  border-radius: 50%;
}

#post-owner-username{
  margin-left: 5px;
  margin-top: 8px;
  font-weight: bold;
  color:#222;
}

.single-post-single-comment{
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
}

.single-post-comment-section{
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: scroll;
  height: 460px;
}

.single-post-comment-section::-webkit-scrollbar {
  display: none;
}

.like-container{
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}

.single-post-likes-container{
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.single-post-liked-by{
  margin-top: 5px;
  margin-left: 10px;
}


#post-like{
  margin-top: 5px;
  margin-left: 10px;
  width: 50px;
}

#post-likes{
  margin-top: 5px;
  margin-left: 10px;
  width: 50px;
}

.post-created{
  margin-left: 10px;
}


.single-post-edit-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#single-post-edit{
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-top: 5px;
  font-size: 15px;
}

#single-post-delete{
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  font-size: 15px;
  color: rgb(247, 95, 95);
  font-weight: bold;
}

#ellipsis-post{
  border: none;
  background-color: white;
  padding-right: 15px;
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
  transition: .3s;
}

#ellipsis-post:hover{
  color: rgb(143, 143, 143);
  transition: .3s;
}

.more-posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 80px;

}

#container-more-posts{
  /* width: 100%; */
}

.more-posts-section{
  display: flex;
  flex-direction: column;
}

#more-post-by{
  /* position: absolute; */
  padding-top: 100px;
  left: 200px;

}

#more-post-images{
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: flex-start;


}
