.single-comment{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.single-comment-username{
  display: inline-flex;
   text-decoration: none;
}

#single-comment-profilePic{
  border-radius: 50%;
}

#single-comment-name{
  margin-top: 8px;
  margin-left: 5px;
  color: #222;
  font-weight: bold;
}

.single-comment-edit{
  margin-top: 8px;
  margin-left: 5px;
}

.user-single-comment{
  float: left;
  padding-right: 10px;
  /* margin-left: -5px; */
}

.user-comments{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: row;
  width: 270px;
  word-wrap: break-word;
  font-size: 15px;
}

.user-comment-long-string{
  width: 250px;
  word-break: break-all;
}

.comment-update{
  display: flex;
  flex-direction: row;
  text-align: left;
  transform: translateX(-30%);

}

.edit-delete-button{
  padding-left: 5px;
  padding-top: 5px;
}

#comment-edit{
  color: rgb(94, 94, 94);
  border: none;
  background-color: white;
  cursor: pointer;
}

#comment-delete{
  color: rgb(94, 94, 94);
  border: none;
  background-color: white;
  margin-left: 5px;
  cursor: pointer;
}


#comment-edit:hover{
  transform: scale(1.1);
}

#comment-delete:hover{
  transform: scale(1.1);
}
