.single-comment{
  padding-top: 10px;
  float: left;
}

#single-comment-container{
  margin-bottom: 10px;
  float: left;

}

.single-comment-username{
  text-decoration: none;
  float: left;
  line-height: 15px;
  height: 20px;
}

#single-comment-profilePic{
  border-radius: 50%;
  float: left;
  line-height: 15px;
}

#single-comment-name{
  margin-top: 8px;
  margin-left: 7px;
  margin-right: 8px;
  color: #222;
  font-weight: bold;
  font-size: 13.5px;
  float: left;
  line-height: 15px;

}

.single-comment-edit{
  margin-top: 8px;
  margin-left: 5px;
}

.user-single-comment{
  font-size: 13.5px;
  word-wrap: break-word;
  margin-bottom: 6px;
  margin-left: 35px;
  width: 360px;


}

.user-comments{
  float: left;
  width: 270px;
  word-wrap: break-word;
  font-size: 15px;
}

.user-comment-long-string{
  float: left;
  width: 250px;
  word-break: break-all;
}

.comment-update{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;

}

.edit-delete-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#show-comment-modal{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 40px;
  margin-top: 6px;
}

#show-comment-modal:hover{
  color: rgb(131, 131, 131);
}

#comment-edit{
  color: rgb(131, 131, 131);
  border: none;
  background-color: white;
  cursor: pointer;
  transition: .3s;
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid lightgray;
}

#comment-cancel{
  color: rgb(131, 131, 131);
  border: none;
  background-color: white;
  cursor: pointer;
  transition: .3s;
  padding: 15px;
  font-size: 15px;
}

#comment-delete{
  color: rgb(247, 95, 95);
  border: none;
  background-color: white;
  padding: 15px;
  cursor: pointer;
  transition: .3s;
  font-size: 15px;
  border-bottom: 1px solid lightgray;

}

#comment-edit:hover{
  transition: .3s;
  color: rgb(61, 138, 253);
}

#comment-cancel:hover{
  transition: .3s;
  color: rgb(61, 138, 253);
}

#comment-delete:hover{
  transition: .3s;
  color: rgb(248, 39, 39);
}

#comment-interact{
  display: flex;
  flex-direction: row;
}
