.profile-user-info-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
  margin-top: 30px;
  border-bottom: 2px solid lightgray;
}

#profile-user-profilePic{
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-user-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 280px 10px 150px ;

}

#profile-username-follow{
  display: inline-flex;
}

#profile-user-username{
  font-size: 30px;
}

#profile-follow-bttn {
  margin-left: 30px;
}

#edit-profile-bttn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
}

#edit-profile-bttn:hover{
  color: rgb(109, 109, 109);
}

#edit-profile-bttn:active{
  transform: scale(0.9);
}

#follow-unfollow-bttn{
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(168, 168, 168);
}

#follow-unfollow-bttn:active{
  transform: scale(0.9);
}

#profile-followers-info{
  display: flex;
  flex-direction: row;
}

#user-post-amount{
  font-weight: bold;
  color: #222;
  margin-right: 10px;
  width: 60px;
  font-size: 15px;

}

#followers-bttn {
  font-weight: bold;
  color: #222;
  width: 100px;
  font-size: 15px;
}

#followers-bttn:hover{
  cursor: pointer;
}

.profile-user-posts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

#profile-page-postCard{
  margin: 10px 20px;
  position: relative;
}

#profile-page-post-link:hover {
 filter: brightness(45%);
}

#profile-page-post-link:hover + .post-ratio{
  visibility: visible;
}

.post-ratio {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  top: 145px;
  left: 100px;
  visibility: hidden;
}

#ratio {
  margin: 0 10px;
  color: white;
}


#no-posts-yet{
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
}
