.edit-comment-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#error-edit-comments{
  color: red;
  font-size: 13px;
  padding-bottom: 5px;
}

.edit-form-comment{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#edit-comment-input{
  width: 275px;
  height: 50px;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  resize: none;
  padding: 5px 0 5px 30px;

}

.edit-comment-buttons{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}


#done-edit{
  transition: .2s;
  padding: 2px 3px;
  border: none;
  background-color: white;
  color: rgb(115, 175, 253);
}

#cancel-edit-comment{
  transition: .2s;
  padding: 2px 3px;
  margin-left: 10px;
  border: none;
  background-color: white;
  color: rgb(115, 175, 253);
}

#done-edit:hover{
  color: rgb(61, 138, 253);
  cursor: pointer;
}

#cancel-edit-comment:hover{
  color: rgb(61, 138, 253);
  cursor: pointer;
}

.edit-emoji-splash-picker{
  position: relative;
}

#edit-emoji-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-left: -10px; */

}

.edit-emoji-splash-picker{
  position: absolute;
  padding-left: 5px;
  color: rgb(109, 109, 109);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.edit-emoji-splash-picker:hover{
  color: black;
}


#editcomment-splash-emoji-picker{
  position: absolute;
  transform: translateY(-64%);
}
