.nav{
  margin: 0;
  width: 100%;
}

.nav-bar{
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px 150px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid lightgray;
  list-style: none;

}

#nav-bar-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  padding-left: 6rem;
}

.nav-bar-instashow{
  margin-right: 8rem;

}

#empty{
  visibility: hidden;
  width: 20%;
}

#instashow-logged-in{
  text-decoration: none;
}

#instashow-logged-in:active{
  cursor: pointer;
  transform: scale(0.9);
}

#instashow{
  font-size: 30px;
  color: black;
  font-weight: bold;
  border: none;
  background-color: white;
}

#instashow:active{
  color: rgb(102, 102, 102);
}


#nav-bar-bttns{
  /* padding: 0 15px; */
  width: 3.3rem;
  text-decoration: none;
}


#nav-bar-profile-bttn{
  border-radius: 50%;
  margin-top: 3px;

}

#nav-bar-profile-bttn-outline{
  border-radius: 50%;
  margin-top: 3px;
  padding: 1px;
  outline: 1px solid #222;
}

#nav-bar-profile-bttn-outline:active{
  filter: brightness(75%);
}

#nav-bar-profile-bttn-outline:hover{
  cursor: pointer;
}


#nav-bar-profile-bttn:active{
 filter: brightness(75%);
}

#nav-bar-profile-bttn:hover{
  cursor: pointer;
}


#home-button{
  color: black;
}


#explore{
  margin-top: 3px ;
  color: black;
  border: none;
  background-color: white;
}

#explore:active{
  color: rgb(102, 102, 102);
}

#explore:hover{
  cursor: pointer;
}


#create-post-plus{
  border-radius: 25%;
  height: 25px;
  width: 25px;
}

#create-post-plus:active{
  color: rgb(102, 102, 102);
  border-color: rgb(102, 102, 102);;
}

#create-post-plus:hover{
  cursor: pointer;
}

svg{
  margin-top: 5px;
  margin-right: -.3rem;
}

#house-button{
  border: 0;
  background-color: white;
}

#house-button:active{
  color: rgb(102, 102, 102);
}

#house-button:hover{
  cursor: pointer;
}

#no-sessionuser-nav-login{
  text-decoration: none;
  font-size: 16px;
  color: #222;
}

#no-sessionuser-nav-signup{
  text-decoration: none;
  font-size: 16px;
  color: #222;
}

#no-sessionuser-nav-signup:hover{
  color: rgb(119, 119, 119);
}

#no-sessionuser-nav-login:hover{
  color: rgb(119, 119, 119);
}

#log-out{
  border: none;
  background-color: white;
  font-size: 15px;

}

#log-out:hover{
  color: rgb(116, 116, 116);
  cursor: pointer;
}

.dropDown{
  position: absolute;
  top: 53px;
  width: 230px;
  transform: translateX(-75%);
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  border-top: none;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 5px -6px 12px;
}

#dropdown-item{
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.8rem;
  text-decoration: none;
  color: black;
}

#dropdown-item:hover{
  background-color: rgba(230, 230, 230, 0.685);
}

#pointer-arrow{
  z-index: 3;
  position: absolute;
  transform: translateX(25%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom:  10px solid rgb(255, 255, 255);
}

#dropdown-profile{
  padding-left: 14px;
  font-size: 14px;
  text-align: left;
}

#dropdown-text{
  padding-left: 10px;
  font-size: 14px;
  text-align: left;
}


#dropdown-logout{
  border-top: 1px solid lightgray;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.8rem;
  font-size: 14px;
}

#dropdown-logout:hover{
  background-color: rgba(230, 230, 230, 0.685);
  cursor: pointer;
}

.logged-out-nav-bar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.not-loggedin-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#nav-bar-ll{
  margin: 0 10px;
  width: 60px;

}

#no-sessionuser-nav-login{
  padding-left: 20px;
}
