.nav{
  margin: 0;
  width: 100%;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  align-items: center;
  border-bottom: 2px solid lightgray;
  list-style: none;
}

#nav-bar-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 100px;

}

#instashow-logged-in{
  text-decoration: none;

}

#instashow{
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin-left: 100px;
  border: none;
  background-color: white;
}

#instashow:active{
  color: rgb(102, 102, 102);
}


#nav-bar-bttns{
  margin: 0 5px;
  text-decoration: none;
}


#nav-bar-profile-bttn{
  border-radius: 50%;
}

#home-button{
  color: black;
}


#explore{
  margin-top: 3px ;
  color: black;
  border: none;
  background-color: white;
}

#explore:active{
  color: rgb(102, 102, 102);
}


#create-post-plus{
  border-radius: 25%;
  height: 25px;
  width: 25px;
}

#create-post-plus:active{
  color: rgb(102, 102, 102);
}
