.create-post-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}
.create-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  background-color: rgb(241, 241, 241);
}


#create-post-header{
  padding: 10px 0;
  font-size: 18px;

}

.create-post-container{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.creat-post-content{
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-edit-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
}


#create-post-form{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 500px;
  width: 100%;
}

.create-form-post-header{
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#post-create-img{
  border-radius: 5px;
  color: rgb(129, 129, 129)
}

#no-image-create{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: rgb(129, 129, 129);
  border-radius: 5px;
  padding-bottom: 10px;
}

#no-image-yet{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: center;


}

#no-image-yet:hover{
  color: gray;
  cursor: pointer;
}

#no-image-create:hover{
  opacity: .9;
  cursor: pointer;
}

#create-post-errors{
  color: rgb(248, 87, 87);
  margin: 5px;
  font-size: 13px;
  font-weight: bold;

}

#create-errors{
  color: rgb(248, 87, 87);
  width: 400px;
  font-size: 12px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 8px;
  width: 360px;

}

.choose-picture{
  text-align: center;
  align-items: center;
  margin-left: 70px;
}

#choosepicture2{
  display: none;
}

.caption-post-cancel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.form-input-create-post{
  display: flex;
  flex-direction: column;
}

#caption-input{
  height: 250px;
  resize: none;
  padding: 10px;
  font-size: 15px;
  transition: .3s;
  border: none;
  border-top: 1px solid lightgray;
}

#caption-input:focus{
  transition: .3s;
  outline: none;
  border-top: 1px solid rgb(168, 115, 253);
}

.create-post-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

#post-create{
  height: 30px;
  background-color: rgb(115, 175, 253);
  border: none;
  border-radius: 15px;
  width: 90%;
  color: white;
  transition: .5s;
}

#post-create:hover{
  background-color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

#post-cancel{
  margin-top: 10px;
  height: 30px;
  background-color: rgb(115, 175, 253);
  border: none;
  border-radius: 15px;
  width: 90%;
  color: white;
  transition: .5s;
}

#post-cancel:hover{
  margin-top: 10px;
  background-color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

.create-post-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#create-post-form input::file-selector-button{
  display: none;
}

#choosepicture{
  display: none;
}

.image-selector-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}


#create-form-post-background{
  background-color: grey;
}

#choosepicture{
  margin-top: 20px;
}


#image-selector-button{
  background-color: white;
  border: none;
  border-radius: 15px;
  width: 70%;
  color: white;
  transition: .5s;
  padding: 10px;
  font-size: 14px;
  color: rgb(115, 175, 253);
}

#image-selector-button:hover{
  color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

#image-selector-button:active{
  transform: scale(0.9);
}

.red{
  bottom: 5px;
  right: 2px;
  position: absolute;
  color: red;
  font-size: 15px;
  margin-top: -20px;
}

.normal{
  bottom: 5px;
  right: 2px;
  position: absolute;
  font-size: 15px;
  color: gray;
  margin-top: -20px;
}

.header-button{
  border: none;
  background-color: rgb(241, 241, 241);
  margin-left: 10px;
  color: rgb(42, 133, 252);
  font-weight: bold;
}

.header-button:hover{
  color: rgb(115, 175, 253);
  cursor: pointer;
}

.header-button-submit{
  border: none;
  background-color: rgb(241, 241, 241);
  margin-right: 10px;
  color: rgb(42, 133, 252);
  font-weight: bold;
}

.header-button-submit:hover{
  color: rgb(115, 175, 253);
  cursor: pointer;
}


.header-button-submitDs{
  border: none;
  background-color: rgb(241, 241, 241);
  margin-right: 10px;
  font-weight: bold;
}
