.create-post-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#create-post-header{
  padding: 20px 30px 10px 30px;

}

.creat-post-content{
  border-radius: 8px;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.create-post-form{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  height: 600px;
  width: auto;
  width: 368px;
}

.create-form-post-header{
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#post-create-img{
  border-radius: 5px;
}

#no-image-create{
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 600px;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: rgb(129, 129, 129);
  border-radius: 5px;

}

#no-image-create:hover{
  opacity: .9;
  cursor: pointer;
}

#create-post-errors{
  color: rgb(248, 87, 87);
  margin: 5px;
  font-size: 14px;
  font-weight: bold;

}

#create-errors{
  color: rgb(248, 87, 87);
  width: 400px;
  font-size: 12px;
  margin-bottom: 15px;
  text-align: left;
  margin-left: 8px;
  width: 360px;

}

.choose-picture{
  text-align: center;
  align-items: center;
  margin-left: 70px;
  margin-top: 30px;
}


.caption-post-cancel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.form-input-create-post{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#caption-input{
  height: 200px;
  resize: none;
  padding: 10px;
  border: 1px solid lightgray ;
  font-size: 15px;
  border-radius: 5px;
  transition: .3s;
}

#caption-input:focus{
  transition: .3s;
  outline: none;
  border: 1px solid rgb(168, 115, 253);
}

.create-post-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}

#post-create{
  height: 30px;
  background-color: rgb(115, 175, 253);
  border: none;
  border-radius: 15px;
  width: 90%;
  color: white;
  transition: .5s;
}

#post-create:hover{
  background-color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

#post-cancel{
  margin-top: 10px;
  height: 30px;
  background-color: rgb(115, 175, 253);
  border: none;
  border-radius: 15px;
  width: 90%;
  color: white;
  transition: .5s;
}

#post-cancel:hover{
  margin-top: 10px;
  background-color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

.create-post-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.create-post-form input::file-selector-button{
  display: none;
}

.image-selector-post{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}


#create-form-post-background{
  background-color: grey;
}

#choosepicture{
  margin-top: 20px;
}


#image-selector-button{
  height: 30px;
  background-color: rgb(115, 175, 253);
  border: none;
  border-radius: 15px;
  width: 70%;
  color: white;
  transition: .5s;
  padding-top: 10px;
  font-size: 14px;
}

#image-selector-button:hover{
  background-color: rgb(42, 133, 252);
  transition: .5s;
  cursor: pointer;
}

#image-selector-button:active{
  transform: scale(0.9);
}
