.edit-profile-pic-form input::file-selector-button{
  display: none;
}


.edit-change-profile-pic{
  display: flex;
  flex-direction: column;
}



.edit-choose-photo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* align-items: center; */
}


#choose-photo{
 color: rgb(42, 133, 252);
 font-weight: bold;
 font-size: 14px;
}

#choose-photo:hover{
  cursor: pointer;
  color: rgb(115, 175, 253);
  border: none;
}

#upload-profile-pic-dis{
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: rgb(142, 188, 248);
  color: white;
  margin-top: 10px;

}


#upload-profile-pic:hover{
  color: rgb(115, 175, 253);
  cursor: pointer;
}

.error-Title{
  color: red;
  font-size: 14px;
}

.edit-profilepic-errors{
  color: rgb(255, 82, 82);
  padding-bottom: 5px;
  transform: translateX(4%);
  font-size: 13px;
}


.errorHandling{
  position: absolute;
  width: 350px;
  transform: translateX(40%);
  top: 35px;

  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  /* text-align: center; */
}

#edit-pic-error{
  padding-top: 5px;
  margin-left: -15px;
}

#user-update-img{
  color: rgb(161, 161, 161);
  justify-content: center;
  margin-top: 15px;
  transform: translateX(6%);
  width: 100px;


}

#upload-profile-pic{
  text-align: left;
  transform: translateX(8%);
  color: rgb(42, 133, 252);
  font-weight: bold;
  font-size: 14px;
  margin-top: 8px;
  width: 50px;
  }

#choose-photo2{
  color: rgb(161, 161, 161);
  /* font-weight: bold; */
  margin-top: 3px;
  font-size: 14px;
  transform: translateX(-1%);
}

#choose-photo2:hover{
  color: rgb(110, 110, 110);
  cursor: pointer;
}
